/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.flex {
  display: flex;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0,03em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header-logo {
    display: flex;
    align-items: center;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    display: flex;
    align-items: center;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-blue {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0,03em;
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .logo-blue {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-white {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0,03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo-white {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    padding-bottom: 44px;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .nav-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    align-items: center;
  }
}

.nav-list {
  justify-content: space-between;
  width: 294px;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    padding-left: 0;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-right: 305px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

.current {
  color: #2196F3;
}

.nav-item {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .nav-item {
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0px 10px 0px;
  }
}

@media screen and (min-width: 768px) {
  .nav-item {
    padding: 33px 0px;
  }
}

.nav-item:hover, .nav-item:focus {
  color: #2196F3;
}

.nav-item .current::after {
  position: absolute;
  left: 0;
  bottom: -1%;
  content: '';
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #2196F3;
}

.menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.menu-button:focus .menu-cross,
.menu-button:focus .menu-lines {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-cross {
  display: none;
}

.menu-button.is-open .menu-lines {
  display: none;
}

.menu-button.is-open .menu-cross {
  display: block;
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.contacts-item {
  display: flex;
  align-items: baseline;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover, .contacts-item:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .contacts-item {
    font-size: 12px;
  }
  .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-item {
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-mail {
  width: 16px;
  height: 12px;
  vertical-align: middle;
  margin-right: 10px;
  fill: #757575;
}

.icon-phone {
  width: 10px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  fill: #757575;
}

.contacts-item:hover .icon-mail,
.contacts-item:focus .icon-mail,
.contacts-item:hover .icon-phone,
.contacts-item:focus .icon-phone {
  fill: #2196F3;
}

.banner {
  height: 600px;
  max-width: 480px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/banner-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .banner {
    background-image: url("../img/mobile/banner-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/banner-tab.jpg");
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: url("../img/tablet/banner-tab@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/banner.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: url("../img/banner@2x.jpg");
  }
}

.banner-heading {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .banner-heading {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.37;
  }
}

.banner-button {
  display: inline-block;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196F3;
  cursor: pointer;
}

.feature-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .feature-section {
    padding-top: 94px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .feature-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .feature-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .feature-item:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.feature-description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.feature-background {
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.job-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .job-section {
    display: block;
    padding-bottom: 94px;
  }
}

.job-heading {
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.job-item {
  display: flex;
  position: relative;
  margin-bottom: 0px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 294px;
}

.job-item:not(:last-child) {
  margin-right: 30px;
}

.job-label {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.job-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-heading {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team-heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team-worker {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-worker {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .team-worker {
    display: flex;
  }
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    flex-basis: calc((100% - 30px) / 2);
  }
  .team-list:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team-list:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list:not(:last-child) {
    margin-right: 30px;
  }
}

.team-function {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.socials {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 30px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover, .socials-link:focus {
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-icon {
  width: 20px;
  height: 20px;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  margin: -15px;
  padding-left: 0;
}

@media screen and (max-width: 1200px) {
  .clients-list {
    flex-wrap: wrap;
  }
}

.clients-item {
  margin: 15px;
  flex-basis: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196F3;
}

@media screen and (min-width: 768px) {
  .clients-link {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.clients-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon {
  fill: #2196F3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.footer-contgroup {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.055em;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-contgroup {
    margin-bottom: 60px;
  }
}

.footer-contacts {
  display: block;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
}

.footer-heading,
.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .footer-group {
    margin-bottom: 60px;
  }
}

.footer-socials-bckgr {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon .footer-icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 90px;
  }
}

.subscribe-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .subscribe-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
  }
}

.subscribe-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  color: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
}

.subscribe-button::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url("../img/subscribe.svg");
  background-size: contain;
}

@media screen and (min-width: 1200px) {
  .subscribe-button {
    margin-left: 12px;
  }
}

.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 34px;
    padding-bottom: 94px;
  }
}

.portfolio-switcher {
  display: flex;
  margin-top: 60px;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .portfolio-switcher {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-switcher {
    justify-content: center;
  }
}

.portfolio-button {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-button:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.site-card {
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .site-card {
    margin: 15px;
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .site-card {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

.site-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.site-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 0;
}

.site-type {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.site-description {
  padding: 20px 24px;
}

.site-thumb {
  position: relative;
  overflow: hidden;
}

.thumb-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 320px) {
  .thumb-overlay {
    display: none;
  }
}

.thumb-overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  margin: 0;
}

.site-card:hover .thumb-overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .modal {
    min-width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    min-width: 95vw;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.close-button:focus, .close-button:hover {
  border-color: #2196F3;
  fill: #2196F3;
}

.close-icon {
  width: 18px;
  height: 18px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-comment {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #2196F3;
}

.form-comment {
  display: block;
}

.comment-input {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.comment-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: block;
  text-align: left;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    letter-spacing: 0.04em;
  }
}

.checkbox-icon {
  content: '';
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196F3;
  border-color: #2196F3;
  border-radius: 2px;
  background-image: url("../img/checked.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox-link {
  display: inline-block;
  color: #2196F3;
  border-bottom: 1px solid currentColor;
  line-height: 0.85;
}

@media screen and (max-width: 1199px) {
  .checkbox-link {
    font-size: 12px;
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #2196F3;
}

.form-button {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: #ffffff;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */