.contacts-list {  
  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.contacts-item {
  display: flex;
  align-items: baseline;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $active-link-color;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    &:not(:last-child) {
      margin-right: 30px;
  }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-mail {
  width: 16px;
  height: 12px;
  vertical-align: middle;
  margin-right: 10px;
  fill: $primary-text-color;
}

.icon-phone {
  width: 10px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  fill: $primary-text-color;
}

.contacts-item:hover .icon-mail,
.contacts-item:focus .icon-mail,
.contacts-item:hover .icon-phone,
.contacts-item:focus .icon-phone {
  fill: $active-link-color;
}