.banner {
  height: 600px;
  max-width: 480px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
  url("../img/mobile/banner-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-device-pixel-ratio: 2),
  	screen and (min-resolution: 192dpi),
	  screen and (min-resolution: 2dppx) {
    background-image: url("../img/mobile/banner-mobile@2x.jpg");
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url("../img/tablet/banner-tab.jpg");
    max-width: 768px;
  @media screen and (min-device-pixel-ratio: 2),
  	screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
    background-image: url("../img/tablet/banner-tab@2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url("../img/banner.jpg");
    @media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
    background-image: url("../img/banner@2x.jpg");
    }
  }
}

.banner-heading {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.37;
  }
}

.banner-button {
  display: inline-block;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background: $active-link-color;
  cursor: pointer;
}