.socials {
  display: flex;
  justify-content: center;
  padding-left: 0;  
  margin-bottom: 30px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, 
  &:focus {
    background-color: $active-link-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-icon {
  width: 20px;
  height: 20px;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: $primary-white-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}