.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.flex {
  display: flex;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include for-size(mobile) {
    width: 480px;
  }
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
